#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: RGB(2 6 23);
  background: linear-gradient(347deg, rgba(2, 6, 23, 1) 0%, rgba(30, 27, 75, 1) 50%, rgba(2, 6, 23, 1) 100%);
  min-height: 100vh ;
}

